<!DOCTYPE html>
<html>
<head>

</head>
<body>
<form action="/request" method="post">
    <input type="text" placeholder="Sender" name="sender">
    <input type="text" placeholder="Recipient" name="recipient">
    <input type="number" placeholder="Amount" name="amount">
    <button type="submit">Request</button>
</form>
</body>
</html>