html {
	height: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-position: left;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgba(245,245,245, 0.5);
}

h1 {
    padding-top: 280px;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 100px;
    text-align: center;
}

.btn {
	background-color: rgba(245,245,245, 0.7);
}

.btn:hover {
	background-color: rgba(245,245,245, 0.9);
}

.navbar {
	background-color: rgba(245,245,245, 0.7);
}

.nav-item {
	width: 100%;
	height: 100%;
}

.nav-link{
	width: 100%;
	height: 100%;
	padding: 10px 20px;
}

.navbar-brand {
	font-family: 'Pacifico', cursive;
	font-size: 24px;
	padding: 0px 30px;
}

.nav-link:hover{
    color: white;
    text-decoration: none;
}

.row , .container{
	height: inherit;
}

form {
    padding-top: 280px;
}

table {
	width: 100%;
}